
#cadastro {background-color: #fff;border-top: 1px solid white;-webkit-border-radius:0 0 15px 15px;-moz-border-radius:0 0 15px 15px;border-radius:0 0 15px 15px; }
#selecao_endereco { width: auto;margin: 10px auto;}

#cadastro form {margin: 20px auto;padding:0 0 20px 0;display: block;width: 400px;}
#cadastro form p {text-align: left;padding: 0;margin: 0 5px 5px 0;}
#cadastro form>p>input[type=text], #cadastro form>p>input[type=password] { display: block;text-align: left; width: 95%; }
#selecao_endereco>p{display: block;float: left;width:400px;}
#selecao_endereco>p>input[type=text]{width: 98%;}
#selecao_endereco>p.CEP {width: 180px;}
#selecao_endereco>p.CEP>input[type=text]{width: 150px;}
#selecao_endereco>p.busca {width: 150px;}
#selecao_endereco>p.Cidade {width: 250px;}
#selecao_endereco>p.Cidade>input[type=text] {width: 230px;}
#selecao_endereco>p.UF {width: 120px;}
#selecao_endereco>p.UF>select {width: 100px;}
#selecao_endereco>p>input[type=button] {margin-top: 24px;height: 26px;}
#form_cliente h4 {font-size: 1.2em; text-align: center; margin: 15px auto 0 auto}
#cadastro form label{ width: 300px;}
#cadastro a.botao { display: block; color: #888; text-decoration: none; text-transform: uppercase; font-size: 20px; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 2px solid #E3E3E3; padding: 0;text-align: center;margin: 7px auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width: 100%;}
#cadastro a.botao span {margin: 5px 10px;display: block;}