div.tab-title-principal { -moz-border-radius: 5px; border-radius: 5px;background-color: #2a6d91;height: 50px;background: #FFF; url() 0 0 repeat-x;text-align: left; color: #E50; font-weight: bold;font-size: 26px; }
div.tab-title-principal h1{ display: block;padding-top: 15px;font-family: 'Slackey', cursive;text-transform: uppercase;letter-spacing: 1px;text-indent: 30px;}
div.tab-title-white h2{margin-bottom: 5px;border-top: 1px solid white;}
div.tab-title-white h2{ display: block;padding: 10px 0 5px 0;font-family: Tahoma;letter-spacing: 1px;text-indent: 30px;font-size: 18px;border: 0px;height: 20px;}

#finalizar, #endereco, #extra { } 
.div-conteudo { width: 705px; background-color: #fff;-moz-border-radius: 15px; border-radius: 0 0 15px 15px;padding: 0 0 15px 15px;border-top: 1px solid white;margin-bottom: 0}
.div-conteudo table {margin: 15px;}
.div-conteudo form  {margin: 15px;}
.div-conteudo form>div>div>label { padding: 4px 10px 2px 10px;margin-right: 5px; background-color: #fff6f0;border-radius: 5px;width: 180px;display: inline-block; *display: inline; zoom: 1;}
.div-conteudo textarea  {resize: no;width: 600px;height: 60px;}
.div-conteudo input[type=submit]  {margin-right: 60px;border: 2px solid gray;background-color: #EEE;color: #555;font-size: 18px;border-radius: 5px;padding: 7px 40px 4px 40px;}
#endereco .grid_view {width: 90%;}