
/* ############## CARRINHO DE COMPRAS ################# */
#carrinho_de_compras {font-size: 0.8em;width: 960px; margin: 0 auto;}
#carrinho_de_compras table{border-collapse: collapse; border: 1px solid #666;width: 98%;margin-bottom: 20px;}
#carrinho_de_compras table th,
#carrinho_de_compras table td 
	{border: 1px solid #666;padding: 3px 5px;}
#carrinho_de_compras table th{text-align: left;}
#carrinho_de_compras table td.actions { width: 130px;  }
#carrinho_de_compras table td .rm, #carrinho_de_compras table td .view, #carrinho_de_compras table td .qtd 
{display: block; float: left; color: #ff3333; text-decoration: none; text-transform: uppercase;  overflow: hidden; font-weight: 200;background: #F3F3F3; border: 2px solid #E3E3E3; list-style-type: none;padding: 5px 0;text-align: center;margin: 2px auto 2px 5px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;min-width: 30px;font-size: 1.2em;}
#carrinho_de_compras table td .view { color: #33d4aa;}
#carrinho_de_compras table td .qtd { color: #33aad4;}
#carrinho_de_compras table .soma td { font-size: 1.8em;text-align: right;padding-right: 20px;color: #480}
#carrinho_de_compras .finalizar_compra { display: block; color: #7A3; text-decoration: none; display: block; text-transform: uppercase; font-size: 20px; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 2px solid #9B4; list-style-type: none;padding: 5px 0;text-align: center;margin: 7px auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}


#carrinho_de_compras form{display: block;width: 600px;margin: 0 auto 20px auto;border: 1px solid gray;padding: 0 20px 30px 20px;}
#carrinho_de_compras form>p {}
#carrinho_de_compras form .legend{display: block;margin-bottom: 3px;font-size: 1.3em;}
#carrinho_de_compras form>p>input[type=text],
#carrinho_de_compras form>p>select,
#carrinho_de_compras form>p>textarea
{resize: none;padding: 4px 5px 2px 5px; border: 1px solid gray;width: 580px;font-size: 1.3em;font-size: 1.3em;}
#carrinho_de_compras form>p>input[type=submit] {color: #33aa88; text-decoration: none; text-transform: uppercase; font-size: 1.5em; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 2px solid #E3E3E3; padding: 5px 10px;text-align: center;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; width: 250px;margin: 0 5px;}

div.container #carrinho_de_compras  { width: 690px; background-color: #fff;-moz-border-radius: 15px; border-radius: 15px;padding: 15px;}
div.container #carrinho_de_compras>div  {}
div.container #carrinho_de_compras table{width: 100%;margin-bottom: 20px;}
div.container #carrinho_de_compras form{display: block;width: 600px;margin: 0 auto 20px auto;border: 1px solid gray;padding: 0 20px 30px 20px;}
div.container #carrinho_de_compras form>p {}
div.container #carrinho_de_compras form .legend{display: block;margin-bottom: 3px;font-size: 1.3em;}
div.container #carrinho_de_compras form>p>input[type=text],
div.container #carrinho_de_compras form>p>select,
div.container #carrinho_de_compras form>p>textarea
{resize: none;padding: 4px 5px 2px 5px; border: 1px solid gray;width: 580px;font-size: 1.3em;font-size: 1.3em;}
div.container #carrinho_de_comprasform>p>input[type=submit] {color: #33aa88; text-decoration: none; text-transform: uppercase; font-size: 1.5em; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 2px solid #E3E3E3; padding: 5px 10px;text-align: center;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; width: 250px;margin: 0 5px;}