/*#frm_fale_conosco  {display: inline-block;zoom:1;*display: inline;width:400px; padding: 0px;text-align: left;}*/
#frm_fale_conosco  {width: 705px; background-color: #fff;-moz-border-radius: 15px; border-radius: 0 0 15px 15px;padding: 15px 0 15px 15px;border-top: 1px solid white;margin: 0 auto 20px auto;color: #333;}

#frm_fale_conosco>div.esquerda {display: block; width: 300px; float: left;margin-right: 20px;margin-left: 10px}
#frm_fale_conosco>div.esquerda p{font-size: 0.8em;margin: 0 0 5px 0;}
#frm_fale_conosco h2 {width: 99%; display: block; font-size: 1.4em;padding:0; text-indent: 20px;margin-bottom: 10px;}
#frm_fale_conosco>form {display: block; width: 320px; float: left;border-left: 2px solid #EDD;padding-left: 20px;}
#frm_fale_conosco  #summary {margin: 0px;font-size:1.4em;text-align: center;color: red;margin-bottom: 10px;}
#frm_fale_conosco  div, #frm_fale_conosco  p{margin: 0 auto 10px auto;}
#frm_fale_conosco  label {margin:0 0 0 0;font-weight: bold;font-size:1.0em;}
#frm_fale_conosco  input, #frm_fale_conosco select {display: inline-block;zoom:1;*display: inline;border:1px solid gray;}
#frm_fale_conosco  textarea {display: inline-block;zoom:1;*display: inline;height:118px;border:1px solid gray;resize:none;}
#frm_fale_conosco  input[type=text], #frm_fale_conosco  textarea {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding: 5px 10px;margin-bottom: 3px;width: 95%;}

#frm_fale_conosco  input[type=text].error, #frm_fale_conosco  select.error, #frm_fale_conosco  textarea.error	{border: 1px solid red;}
#frm_fale_conosco div.captcha {padding: 10px;background-color: #FFF6F0;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;border: 1px solid #eee;} 
#frm_fale_conosco div.captcha div.direita{ display: block;min-width: 1%;width: auto;margin: 0 10px 0 5px;}
#frm_fale_conosco div.captcha div.direita a {font-size: 0.8em;color: #00F;}
#frm_fale_conosco div.captcha div.direita img{border: 1px solid gray; }
#frm_fale_conosco div.captcha div{padding-top: 0px;width: 180px;text-align: center;margin: 0 auto;}
#frm_fale_conosco div.captcha div.esquerda input{margin-top: 5px;width: 150px;}
#frm_fale_conosco div.captcha div.esquerda span {font-size: 0.8em;color: #444;font-weight: bold;}

#frm_fale_conosco form>p>.erro, #frm_fale_conosco form>div>.erro { margin: 0;background-color: #FDD;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;text-align: center;font-weight: bold; color: #555;}


#frm_fale_conosco a.submit { display: block; color: #444; text-decoration: none; text-transform: uppercase; font-size: 20px; overflow: hidden; font-weight: 200;background-color: #FFF6F0; border: 1px solid #444; padding: 0;text-align: center;margin: 7px auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width: 100%;}
#frm_fale_conosco a.submit span {margin: 5px 10px;display: block;}

#frm_fale_conosco .sucesso {margin: 15px auto;font-weight: bold;font-size: 1.4em;color: #444;width: 500px;text-align: center;}