html, body {width: 99.9%;height: 99.9%;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {	display: block;}
ul li {list-style-position: inside;}
a img {border: 0;}
body {text-align: center;background: #464334 url(../arquivos/site/fundo_body.png);color: #e0e0e0;}

header {display:block; position: fixed; top: 0px; left: 0px; width: 100%; height: 52px;background: #333 url(../arquivos/site/fundo_topo.png) 2px 0px repeat-x;text-align: center;}
header .header {display: inline-block;*display: inline; zoom: 1;width: 980px;text-align: left;}
header .logo{float: left; margin-top: 10px; margin-left: 10px;}
header ul{float: right;margin-right: 10px;}
header ul li{margin-top: 7px;display: inline-block;*display: inline; zoom: 1;list-style-type: none;}
header ul li a{color: white;display: block;padding: 5px 10px;text-decoration: none;font-size: 1.3em;}


footer {width: 100%;background: #000;margin: 0;padding:0;text-align: center;}
footer div.footer_header{width: 100%; height: 42px;background: #000 url(../arquivos/site/fundo_rodape.png) 2px 0px repeat-x;}
footer div.footer {display: inline-block;*display: inline; zoom: 1;width: 980px;text-align: left;}
footer .right {display: block;float: right;color: #ff4;}
footer .left {display: block;float: left;max-width: 650px;text-align: left;}
footer ul{float: left;display: block;}
footer ul li{list-style-type: none;}
footer ul li a{color: white;display: block;padding: 5px 10px;text-decoration: none;font-size: 1.1em;}
footer .logo{float: right; margin-right: 10px; margin-bottom: 10px;}
footer div.footer_footer{width: 100%; height: 42px;background: #000 url(../arquivos/site/fundo_rodape2.png) 2px 0px repeat-x;}
.clear {clear: both;}

div#index { background-color: #333;text-align: left;margin-top: 50px;min-height: 450px;display: inline-block;*display: inline; zoom: 1;border:1px solid #333;margin-bottom: 0;}
div#index .banner{text-align: center;}


div#index h2.style_a {display: block;font-family: Tahoma;font-weight: normal; font-size: 1.6em; width: 100%;}
div#index h2.style_a span{display: block;padding: 10px 0px 4px 8px;width: 100%;}
div#index h2.style_a p {display: block;height: 54px;color: #e1a102;}
div#index h2.style_a .e {background: url(../arquivos/imagens_css/titulo_e.png) top right no-repeat;width: 48px;float: left;}
div#index h2.style_a .c {background: url(../arquivos/imagens_css/titulo_c.png) top left repeat-x;margin-left: 48px;margin-right: 15px;}
div#index h2.style_a .d {background: url(../arquivos/imagens_css/titulo_d.png) top left no-repeat;width: 15px;float: right;}
div#index h2.style_a p.m span{float: left;display: block;padding: 10px 0px 4px 8px;}
div#index h2.style_a p.m {float: left;display: block;height: 50px;color: #e1a102;background: url(../arquivos/imagens_css/titulo_c.png) top left repeat-x;width: 100%;}


div#index h2.style_b {display: block;font-family: Tahoma;font-weight: normal; font-size: 1.6em; width: 100%;margin: 20px auto 0px auto;}
div#index h2.style_b span{display: block;padding: 15px 0px 4px 35px;}
div#index h2.style_b p {display: block;height: 69px;color: #e1a102;}
div#index h2.style_b .e {background: url(../arquivos/imagens_css/title_2_e.png) top right no-repeat;width: 66px;float: left;}
div#index h2.style_b .c {background: url(../arquivos/imagens_css/title_2_c.png) top left repeat-x;margin-left: 66px;margin-right: 227px;}
div#index h2.style_b .m {margin-right: 0;}
div#index h2.style_b .d {background: url(../arquivos/imagens_css/title_2_d.png) top left no-repeat;width: 127px;float: right;margin-right: 100px;}

div#index  .home li { margin-bottom: 4px;list-style-type: square;display: block;}
div#index  .home .parceiros { text-align: center;vertical-align: middle;}
div#index  .servicos .box{ max-width: 290px;margin-bottom: 0;float: left;}
div#index  .servicos .divisor {background: url(../arquivos/imagens_css/Divis001.png) left top repeat-y;}
div#index  .servicos ul{ max-width: 100%;background: url(../arquivos/imagens_css/servico_list_style.png) 10px center no-repeat;margin-bottom: 12px;}
div#index  .servicos .divisor ul {margin-left: 20px;}
div#index  .servicos li { margin: auto 10px 6px 55px;list-style-type: none; color:#f0f0f0;text-indent: 5px;}
div#index  .servicos li.title { margin: auto 20px 8px 40px;list-style-type: none;color:#ffd;text-indent: 0;}	
div#index  .servicos h4 { margin: 30px 20px 15px 10px;list-style-type: none;font-size: 1.4em;color:#ddd;text-indent: 10px;padding-bottom: 4px;}	
div#index  .precos, div#index  .servicos  {float: left;display: block;}
div#index  .precos td, div#index  .precos th{color: white;padding-right: 14px;}
div#index  .precos th{color: white;padding: 10px 0px 3px 0px;font-size: 1.2em;}
div#index  .fotos {margin: auto 50px auto 50px;}
div#index  .fotos p{font-size: 1.1em;text-indent: 50px;}
div#index  .fotos p.texto{font-size: 1.2em;}
div#index  .fotos ul{margin: 0px 0px 0px 50px;}
div#index  .fotos ul li{list-style-type: none; color: white;margin: 15px 0px;}
div#index  .fotos ul li a{ color: white;font-family: 'Allerta Stencil', sans-serif;font-size: 1.4em;text-decoration: none; }
div#index  .fotos .album a{ color: white;font-size: 1.2em;text-decoration: none; display: block;}
div#index  .fotos .album{display: block; float: left; width: 160px; height: 160px;font-size: 1.1em; text-align: center;}
div#index  .fotos .album img{}
div#index  .fotos .foto a{ color: white;text-decoration: none; display: block;font-family: tahoma;font-size: 0.8em;}
div#index  .fotos .foto .img{ display: block;height: 123px;}
div#index  .fotos .foto{display: block; float: left; width: 150px; height: 160px;font-size: 1.1em; text-align: center;margin: 10px 20px 10px 0;}
div#index  .fotos .foto img{}

div.tab-title-gray {background-color: #FFDD66;font-weight: bold;font-size: 20px; }
div.tab-title-gray span{ display: block;padding-top: 10px;font-family: Arial;text-transform: uppercase;letter-spacing: 1px;text-indent: 30px;font-size: 1.4em}
div.tab-title-gray h1{ display: block;padding: 10px 0 5px 0;font-family: 'Wallpoet', cursive;text-transform: uppercase;letter-spacing: 1px;font-size: 2.0em; text-align: center;color: #222;}

@media screen and (max-width: 780px) 
{

	header .header {width: auto;}
	header .logo{float: left; margin-top: 10px; margin-left: 10px;}
	header ul{display: none;}

	footer .left {display: block;float: left;max-width: auto;width: auto;text-align: left;}
	footer .right {display: block;float: left;}
	footer div.footer {width: 99%;}
	
	div#index { width: 99%;}
	div#index  article { display: block;float: left;width: 100%;border: 1px solid #201e1e;  }
	div#index  .home article { background: #201e1e; color: #eee;}
	div#index h2.style_a  {font-size: 1.4em;}
	div#index  .home article .content {padding: 10px 20px 10px 10px;}

	div#index h2.style_a span{display: block;padding: 10px 0px 4px 8px;width: 90%;}
	div#index h2.style_b span{display: block;margin: 0;width: 80%;}
	div#index h2.style_b .d {display: none;}
	div#index h2.style_b .e {background: url(../arquivos/imagens_css/title_2_e.png) top right no-repeat;width: 46px;float: left;}
	div#index h2.style_b .c {background: url(../arquivos/imagens_css/title_2_c.png) top left repeat-x;margin-left: 46px;margin-right: 0px;}

	div#index  .servicos, div#index  .precos{ width: 100%;max-width: auto;margin: 0px;padding: 0px;}
	div#index h2.style_b {margin-left: 0px;margin-right: 0px;width: 100%;padding-left: 0px;padding-right: 0px;}
	
	div#index .precos h2.style_b span{display: block;margin: 0;width: 80%;}
	div#index .precos h2.style_b .d {display: none;}
	div#index .precos h2.style_b .e {background: url(../arquivos/imagens_css/title_2_e.png) top right no-repeat;width: 46px;float: left;}
	div#index .precos h2.style_b .c {background: url(../arquivos/imagens_css/title_2_c.png) top left repeat-x;margin-left: 46px;margin-right: 0px;}

	div#index  .precos table {margin-left: 20px;}
	
  
}

@media screen and (min-width: 780px) 
{
	div#index  .home article .content { background: #201e1e; color: #eee;margin: 0 20px 10px 30px;padding: 10px 20px 10px 10px;}
	div#index  .home, div#index  .servicos{ margin: 20px 40px;}
	div#index  .servicos{ max-width: 580px; margin: 20px 0px 20px 20px;}
	div#index  .precos { width: 320px; margin: 20px 20px 20px 0px; }
	div#index  .precos h2.style_b .e {width: 46px;float: left;}
	div#index  .precos h2.style_b .c {margin-left: 46px;margin-right: 20px;}
	div#index  .precos h2.style_b .d {margin-right: 0px;}
	div#index  .precos table {margin-left: 40px;}
}
@media screen and (min-width: 1024px) 
{
	div#index { width: 980px;}
	div#index  article { display: block;float: left;width: 440px;margin-left: 10px; }
}


