/* #### FAST LOGIN #### */
#fast-login {background-color: #fff;-moz-border-radius: 0 0 15px 15px;border-radius: 0 0 15px 15px;margin: 0 0 20px 0; border: 1px solid #fff;}

#fast-login form{margin: 10px auto;padding-bottom: 5px;}
#fast-login label {}
#fast-login p {margin:  0 0 0 20px;display: block;}
#fast-login input[type=text],#fast-login input[type=password] { display: block; color: #333;  font-weight: 200;background: #fff; border: 1px solid gray; padding: 3px 5px;width: 190px;}


#fast-login a.novo { display: block; color: #444; text-decoration: none; text-transform: uppercase; font-size: 14px; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 1px solid #DDD; padding: 0;text-align: center;margin: 3px 20px;-webkit-border-radius: 10px;-moz-border-radius: 5px;border-radius: 5px;}
#fast-login a.novo span {margin: 5px 10px;display: block;}
#fast-login a.submit {  display: block; color: #444; text-decoration: none; text-transform: uppercase; font-size: 14px; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 1px solid #DDD; padding: 0;text-align: center;margin: 3px 20px;-webkit-border-radius: 10px;-moz-border-radius: 5px;border-radius: 5px;}
#fast-login a.submit span {margin: 5px 10px;display: block;}

/* ############# Login ############# */
#login {}
#login h3{width: 500px;margin: 10px auto;}
#login form{width: 500px;margin: 10px auto;padding-bottom: 20px;}
#login label {font-size: 1.5em;}
#login p {padding-left: 20px;}
#login input[type=text],#login input[type=password] { display: block; color: #333; font-size: 1.6em; font-weight: 200;background: #fff; border: 1px solid gray; padding: 3px 5px;width: 440px;}

#login a.submit { display: block; color: #444; text-decoration: none; text-transform: uppercase; font-size: 20px; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 2px solid #DDD; padding: 0;text-align: center;margin: 7px auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width: 480px;}
#login a.submit span {margin: 5px 10px;display: block;}
#login a.novo { display: block; color: #444; text-decoration: none; text-transform: uppercase; font-size: 20px; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 2px solid #DDD; padding: 0;text-align: center;margin: 7px auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width: 480px;}
#login a.novo span {margin: 5px 10px;display: block;}
#login div#form_login {margin: 20px auto;padding-bottom: 20px;}