#produto div.container-a {background-color: #fff;border-top: 1px solid white; border-radius: 0 0 15px 15px;padding-bottom: 20px;}
#produto div.resumo {margin: 10px 0 0 15px;}
#produto div.direita {width: 380px;display: block; float: left;margin: 10px 0 0 15px;border: 1px solid #f0f0f0;}
#produto div.grupo {width: 690px;}
#produto div.direita a, #produto div.direita a:hover {text-decoration: none;}
#produto div.direita .foto {display: block;background: url() top center no-repeat;width: 375px;height: 270px;margin-bottom: 5px;}
#produto div.grupo  .foto{width: 680px;width: 690px;height: auto;text-align: center;}
#produto div.direita .thumb {display: block;float: left;background: url() center center no-repeat;width: 120px;height: 90px;margin-bottom: 5px;}

#produto div.esquerda {width: 305px;display: block; float: left;font-family: Helvetica;font-weight: bold;margin-top: 10px;background-color: #ffF7C4;min-height: 300px;border: 1px solid #f0f0f0;}
#produto div.esquerda form {background-color: #e0FFc0;margin-bottom: 10px;padding: 15px 0 10px 0;display: block;font-size: 20px;color: #303030;}
#produto div.esquerda form p{margin: 0 0 5px 15px;}
#produto div.esquerda form label{font-size: 1.0em; }
#produto div.esquerda form input[type=text]{width: 80px;margin-left: 6px;font-size: 20px;  font-weight: bold;padding: 3px 5px 1px 5px;}

#produto div.esquerda form input[type=submit] { background: url(../arquivos/layout/comprar.png) 0px 0px no-repeat;width: 238px;height: 53px;border: 0;}
#produto div.esquerda div.dim {display: block; float: left; font-size: 22px; background: url() 7px 8px no-repeat; width: 135px; height: 55px;-moz-border-radius: 10px;border-radius: 10px;margin: 10px 0 0 10px;}
#produto div.esquerda div.dim span { display: block; margin: 16px 0 0 60px;}
#produto div.esquerda div.dim.width { font-size: 18px; background-image: url(../arquivos/layout/dimensions/width.png);}
#produto div.esquerda div.dim.height { font-size: 18px; background-image: url(../arquivos/layout/dimensions/height.png);}
#produto div.esquerda div.dim.deep { font-size: 18px; background-image: url(../arquivos/layout/dimensions/deep.png);}
#produto div.esquerda div.dim.weight { font-size: 18px; background-image: url(../arquivos/layout/dimensions/weight.png);}
#produto div.info {margin: -15px 25px 15px 25px;}

#produto div.rel {margin: 25px 15px 25px;background-color: #EEE;}
#produto div.rel {background-color:#fff;min-height: 300px;-moz-border-radius: 0 0 15px 15px;border-radius: 0 0 15px 15px;padding-bottom: 20px;margin-bottom: 20px;}
#produto div.rel div.box {float: left; display: block;width: 220px;background-color: #fff;margin: 10px 0 0 5px;-moz-border-radius: 6px;border-radius: 6px;border: 1px solid #EEEEEE;}
#produto div.rel div.box  .thumb{display: block;float: left;background: url() center center no-repeat;width: 200px;height: 150px;margin: 0 0 5px 10px;}
#produto div.rel div.box  a.thumb{text-decoration: none;}
#produto div.rel div.box  p {margin: 10px 0 20px 15px;}
#produto div.rel div.box  p a{color: #444;font-size: 14px;}
#produto div.grupo-rel {}
#produto div.grupo-rel div.box p {display: block; -moz-border-radius: 6px;border-radius: 6px;background-color: #496055;margin-right: 10px;text-align: center;}
#produto div.grupo-rel div.box p a{display: block;padding: 6px 10px;color: #fff;font-size: 16px;}

#produto div.descricao {margin: 10px 0 0 15px;}
#produto div.descricao li{padding: 2px 20px; margin: 3px 20px; background-color: #F4F4F4;list-style-type: none;border-top: 1px solid #DDD;border-left: 1px solid #DDD;}


#produto .tab-title {}
#produto .tab-title  li{-moz-border-radius: 15px 15px 0 0;border-radius: 15px 15px 0 0;display: block;float: left;list-style-type: none; padding: 0;}

#produto p.preco {
	border-radius: 0 5px 5px 5px;
	margin: 0;
}