div.tab-title-principal { -moz-border-radius: 5px; border-radius: 5px;background-color: #2a6d91;height: 50px;background: #FFF; url() 0 0 repeat-x;text-align: left; color: #E50; font-weight: bold;font-size: 26px; }
div.tab-title-principal h1{ display: block;padding-top: 15px;font-family: 'Slackey', cursive;text-transform: uppercase;letter-spacing: 1px;text-indent: 30px;}
div.tab-title-white h2{margin-bottom: 5px;}
div.tab-title-white h2{ display: block;padding: 15px 0 5px 0;font-family: Tahoma;letter-spacing: 1px;text-indent: 30px;font-size: 18px;border: 0px;}
div.tab-title-white h1{ display: block;padding: 15px 0 5px 0;font-family: Tahoma;letter-spacing: 1px;text-indent: 30px;font-size: 18px;border: 0px;}


#informacoes, #contato { width: 705px; background-color: #fff;-moz-border-radius: 15px; border-radius: 0 0 15px 15px;padding: 0 0 15px 15px;border-top: 1px solid white;margin-bottom: 20px;}
#informacoes .grid_view, #contato .grid_view {width: 600px;margin: 10px 0 20px 20px;}
#informacoes .grid_view td, #informacoes .grid_view th, #contato .grid_view td, #contato .grid_view th {}
#informacoes  h3 { font-size: 1.2em;margin-left: 20px; }
#informacoes  h2 { width: 98%; }
#informacoes  .pagamento { margin: 0 auto;width: 600px;  }
#informacoes  .pagamento a{ display: block; float: left; margin: 0 20px 20px 0;  }
#informacoes .conta-dep  { margin: 20px auto;border: 1px dashed gray;background-color: #f0fff0;color: #333; width: 400px;padding: 10px;}
#informacoes .conta-dep  p{ margin: 5px 0;  }
#informacoes .conta-dep p>strong{  }
#informacoes .warn  { margin: 10px auto;border: 1px dashed gray;background-color: #fff0f0;color: #333; width: 500px;padding: 10px;}
#informacoes .warn  p{ margin: 5px 0;font-size: 1.2em;text-align: center;}
#informacoes .warn p>strong{  }


#form_deposito {margin: 20px auto;padding:0 0 20px 0;display: block;width: 630px;}
#form_deposito p {display: block;float: left;text-align: left;padding: 0;margin: 0 15px 5px 0;width: 300px;}
#form_deposito>p>input[type=text], #form_deposito>p>input[type=password] { width: 290px; }
#form_deposito>p>select { width: 285px; padding: 2px 2px 1px 10px;height: 25px;}
#form_deposito>p>textarea { display: block;text-align: left; width: 100%; height: 90px;}
#form_deposito .Observacoes{width: 610px;margin: 0; }
#form_deposito a.botao { display: block; color: #888; text-decoration: none; text-transform: uppercase; font-size: 20px; overflow: hidden; font-weight: 200;background: #F3F3F3; border: 2px solid #E3E3E3; padding: 0;text-align: center;margin: 7px auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width: 300px;}
#form_deposito a.botao span {margin: 5px 10px;display: block;}

#contato  .add_field_contato{ display: block; margin: 19px 5px 5px 20px; text-align: center; background-color: #efe;padding: 4px 0 3px 0;text-decoration: none;border: 1px solid #9d9;font-size: 1.2em;width: 600px;color: #444;}

#selecao_endereco .add_field_endereco{ display: block; margin: 19px 5px 5px 0; text-align: center; background-color: #efe;padding: 4px 0 3px 0;text-decoration: none;border: 1px solid #9d9;font-size: 1.2em;color: #444;}

div.payment {
	font-size: 1.8em;
	color: #FF9;
	background-color: #DD4050;
	padding: 20px 30px;
	margin-right: 20px;
	text-align: center;
	font-family: Tahoma;
	
}