div.Status { margin: 15px 0;}
div.Promocao { height: 40px;margin: 0;border-bottom: 1px solid #FED; }
div.Promocao>div>label {color: #333;}
div.Promocao,div.fields_promocoes { background-color: #FED; margin: 0;border-top: 1px solid #FED;}
div.fields_promocoes>p {margin: 5px 0 5px 5px;display: block; float: left; width: 180px;}
div.fields_promocoes>p>label {color: #333;margin-bottom: 3px;}
.grid_view tr td.ftrue{background-color: #AfA;}
.grid_view tr td.ffalse {background-color: #fAA;}
.grid_view .busca label{display: none;}
.grid_view .busca p{margin: 0; padding:0;}

form>p>textarea.wysiwyg {height: 90px;}

.nova_foto a { height: 20px; display: block; margin: 19px 5px 0 0; text-align: center; background-color: #cfc;padding: 4px 0 1px 0;text-decoration: none;border: 1px solid #9d9;}

a.bt_create { height: 20px; display: block; margin: 19px 5px 15px 0; text-align: center; background-color: #cfc;padding: 4px 0 1px 0;text-decoration: none;border: 1px solid #9d9;}

#categoria .item {margin: 0 auto 10px auto;border: 1px solid gray;padding: 2px 10px 10px 10px; width: 600px;}
#categoria .item h2{font-size: 1.2em;display: block;width: 100%;margin: 0 0 5px 0;}
#categoria .item p {font-size: 1.0em;display: block;width: 100%;margin: 0 0 5px 0;}
#categoria .item .actions {display: block; display: block;width: 100%;}
#categoria .item .actions a { height: 20px; display: block; float: left;margin: 19px 5px 0 0; text-align: center; padding: 4px 0 1px 0;text-decoration: none;width: 100px;border: 1px solid #d99;background-color: #fcc;}
#categoria .item .actions a.ed {background-color: #ccf;border: 1px solid #99d;margin-left: 370px;}
#categoria #h_js_confirm {height: 200px;margin: 20px auto;width: 600px;text-align: center;}
#categoria #h_js_confirm .h_js_confirm_msg {min-height: 30px;font-size: 1.6em;}
#categoria #h_js_confirm .h_js_confirm_botoes a { height: 20px; margin: 19px 5px 0 0; text-align: center; padding: 4px 0 1px 0;text-decoration: none;border: 1px solid #9d9;background-color: #cfc;color: #444;}
#categoria #h_js_confirm .h_js_confirm_botoes a.h_js_confirm_no {text-align: center; background-color: #fcc;border: 1px solid #d99;}


#fileupload {width:480px; height: 250px;text-align: left;}
#fileupload label {display: block;font-size: 1.2em;margin-bottom: 5px;}
#fileupload .file_input {margin: 0px 0px 10px 0px;text-align: right;border: 1px solid black;}
#fileupload .file-wrapper {cursor:pointer;display:inline-block;overflow:hidden;position:relative;margin:0px 0px 10px 0px;}
#fileupload .file-wrapper input[type=file] {cursor:pointer;font-size:100px;height:100%;filter:alpha(opacity=1);-moz-opacity:0.01;opacity:0.01;position:absolute;right:0;top:0;width: 200px;}
#fileupload .file-wrapper>span {background:#f0f0f0;color:#555;cursor:pointer;display:inline-block;*display:inline;zoom: 1;font-size:1.0em;font-weight:bold;margin-right:5px;text-transform:uppercase;width: 180px;text-align:center; height: 26px;	}
#fileupload .file-wrapper>span>div{ display: block;margin-top: 5px; }
#fileupload input[type=text] { width: 240px; vertical-align: top }
#fileupload textarea { width: 450px; vertical-align: top; resize:none; height: 120px; }
#fileupload input[type=submit] { background-color: #E9E9E9;color: #555;cursor:pointer;font-size:1.2em;font-weight:bold;margin-top:1px;text-transform:uppercase;width: 460px;text-align:center; height: 30px;border: 1px solid #DDD;}