
/* #### LISTA PRODUTOS #### */
div.lista-prd {color: #333;}
div.lista-prd div.box {float: left; display: block;width: 220px;background-color: #fff;margin: 10px 0 0 14px;-moz-border-radius: 6px;border-radius: 6px;border: 1px solid #EEEEEE;height: 230px;}
div.lista-prd div.box  a.thumb {text-decoration: none;}
div.lista-prd div.box .thumb{display: block;background: url() center center no-repeat;width: 220px;height: 160px;}
div.lista-prd div.box .actions a {width: 30px;height: 30px;display: block;float: right;vertical-align: top;margin: 5px 10px 0 0;text-decoration: none;}
div.lista-prd div.box .actions a.zoom{background: url(../imagens/site/icons/zoom_icon.png) center center no-repeat;}
div.lista-prd div.box .actions a.chkboxA,div.lista-prd div.box .thumb a.chkboxB{background: url(../imagens/site/icons/checkboxA.png) center center no-repeat;}
div.lista-prd div.box .actions a.chkboxB{background: url(../imagens/site/icons/checkboxB.png);}
div.lista-prd div.box .actions a.delbox{background: url(../imagens/site/icons/delbox.png);}


div.lista-prd div  a.parent{text-decoration: none;display: block;text-align: center;font-size: 1.2em;color: #fff;padding: 0 3px 0 1px;background-color:#765;border-radius: 3px;margin: 4px auto 3px auto; width:220px;}
div.lista-prd div.box  a.folder{background-image: url(../arquivos/site/folder_thumb.png);text-decoration: none;}
div.lista-prd div.box  p {margin: 5px 0;text-align: center;}
div.lista-prd div.box  p a{color: #444;font-size: 14px;}
div.lista-prd div.box  p a.dir{color: #447;font-size: 1.2em;font-weight: bold;}
div.lista-prd div.box  .price{height: 58px;font-size: 24px; font-family: tahoma;color: #fff;-moz-border-radius: 6px;border-radius: 6px;background-color: #496055;}
div.lista-prd div.box  .price span{padding: 15px 0 0 0;display: block;width: 140px;float: left;text-indent: 10px;}
div.lista-prd div.box  a.view{display: block;text-align: center;-moz-border-radius: 6px;border-radius: 6px;color: #fff;height: 50px;width: 60px; float: right;margin: 4px 5px 0 0;}
div.lista-prd div.box  a.view:hover {text-decoration: none;}
div.lista-prd a.buy {display: block;text-decoration: none;background-color: #393;margin: 5px;}
div.lista-prd a.buy span{display: block;padding: 4px 0 3px 0;font-family: Arial;color: #fff;font-weight: bold;}
div.lista-prd div.box  a.view img{margin: 1px 0 0 5px;}

div.lista-prd.ofertas div.box  {margin: 10px 0 0 10px;}
